{% extends 'core/base.html' %}

{% block title_block %}
    Apply Group Help
{% endblock %}

{% block main_block %}
<article>
    <h3>Apply Group help</h3>
    <p>
        Starting at {{ selectGroupStartDate }} you may select your laboratory group.
        If you are member of a validated pair your partner will be assigned to the same group.
        Please double check that your theory group is correct since your
        choices of laboratory groups are constrained by your therory
        group.
    </p>
    <p>
        Note that your group status is shown in the
        home page providing you have logged in the system.
    </p>
    <br />
    <p>Current time: {{ currentDate }}</p>
</article>
{% endblock main_block %}
