{% extends 'core/base.html' %}

{% block title_block %}
    Convalidation Help
{% endblock %}

{% block main_block %}
<article>
    <h1>Convalidation Help</h1>
    <p>If you took EDAT last year and your grades were equal or better than</p>
    <ul id='convalidation-help-list'>
      <li>grade theory: 3.0</li>
      <li>grade laboratory: 7.0</li>
    </ul>
    <p>you may apply for convalidation. <br>
    Log in and then select the appropiate option from the menu.</p>
    </p>
</article>
{% endblock main_block %}
