{% extends 'core/base.html' %}

{% block title_block %}
    Help
{% endblock %}

{% block main_block %}

<h1>Service Description</h1>
<div>
    <p>This web site allows EDAT students to select which laboratory group they wish to enroll in.
    Please follow the steps below.</p>
    <ol class="help-list">
        <li>Apply for convalidation if appropriate (<a href="{% url 'convalidation_help' %}">help</a>)</li>
        <li>Select partner (<a href="{% url 'applypair_help' %}">help</a>)</li>
        <li>Select group (<a href="{% url 'applygroup_help' %}">help</a>)</li>
    </ol>
</div>

{% endblock main_block %}
