{% extends 'core/base.html' %}

{% block title_block %}
    Home
{% endblock %}

{% block main_block %}
<article>
    {% if user.is_authenticated %}
    <h1>Summary page for <b>{{ user.first_name }} {{ user.last_name }}</b></h1>
    <span>(Your theory group is {{ student.theoryGroup }})</span>
    <section>
        <h2>Convalidation</h2>
        {% if student.convalidationGranted %}
        <p>
            Your lab assignments have been convalidated.
        </p>
        {% else %}
        <p>
            Your lab assignments have NOT been convalidated.
            (if you wish to request a convalidation press the "convalidation" button.)
        </p>
        {% endif %}
    </section>
    <section>
        <h2>Pair Status</h2>
        {% if pair %}
        <span>You are part of the following pair:</span>
        <ul>
            <li>{{ pair.student1 }}</li>
            <li>{{ pair.student2 }}</li>
        </ul>
        {% if pair.validated == False %}
        <span>{{ pair.student2 }} has NOT validated this pair.</span>
        {% else %}
        <span>Pair has been validated.</span>
        {% endif %}
        {% else %}
        <span>You are not part of any pair.</span>
        {% endif %}
    </section>
    <section>
        <h2>Selected Group</h2>
        {% if student.labGroup %}
        <span>Your labgroup is: {{ student.labGroup }}</span>
        {% else %}
        <span>You have NOT been selected any Labgroup</span>
        {% endif %}
    {% else %}
    <h1>Service Description</h1>
    <p>
        This web site allows EDAT students to select which laboratory group they wish to enroll in.
        Please follow the steps below.
        <ol>
            <li>Login (<a href="{% url 'login_help' %}">help</a>)</li>
            <li>Apply for convalidation if appropriate (<a href="{% url 'convalidation_help' %}">help</a>)</li>
            <li>Select partner (<a href="{% url 'applypair_help' %}">help</a>)</li>
            <li>Select group (<a href="{% url 'applygroup_help' %}">help</a>)</li>
        </ol>
    </p>
    {% endif %}
</article>
{% endblock main_block %}
