{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block main_block %}
<article>
    {% if user.is_authenticated %}
    <h1>Summary page for <b>{{ user.first_name }} {{ user.last_name }}</b></h1>
    <p><span>(Your theory group is {{ student.theoryGroup }})</span></p>
    <section>
        <h2>Convalidation</h2>
        {% if student.convalidationGranted %}
        <p>
            Your lab assignments have been convalidated.
        </p>
        {% else %}
        <p>
            Your lab assignments have NOT been convalidated.
            (if you wish to request a convalidation press the "convalidation" button.)
        </p>
        {% endif %}
    </section>
    <section>
        <h2>Pair Status</h2>
        {% if pair %}
        <p><span>You are part of the following pair:</span></p>
        <ul>
            <li>{{ pair.student1.first_name }} {{ pair.student1.last_name }} </li>
            <li>{{ pair.student2.first_name }} {{ pair.student2.last_name }} </li>
        </ul>
        {% if pair.validated == False %}
        <p><b>{{ pair.student2.first_name }} {{ pair.student2.last_name }}
          has NOT validated this pair.</b></p>
        {% else %}
        <p><span>Pair has been validated.</span></p>
        {% endif %}
        {% else %}
        <p><span>You are not part of any pair.</span></p>
        {% endif %}
    </section>
    <section>
        <h2>Selected Group</h2>
        {% if student.labGroup %}
        <p><span>Your labgroup is: {{ student.labGroup }}</span></p>
        {% else %}
        <p><span>You have NOT been selected any Labgroup</span></p>
        {% endif %}
    {% else %}
    <h1>Service Description</h1>
    <div>
        <p>This web site allows EDAT students to select which laboratory group they wish to enroll in.
        Please follow the steps below.</p>
        <ol id="help-list">
            <li>Login (<a href="{% url 'login_help' %}">help</a>)</li>
            <li>Apply for convalidation if appropriate (<a href="{% url 'convalidation_help' %}">help</a>)</li>
            <li>Select partner (<a href="{% url 'applypair_help' %}">help</a>)</li>
            <li>Select group (<a href="{% url 'applygroup_help' %}">help</a>)</li>
        </ol>
    </div>
    {% endif %}
</article>
{% endblock main_block %}
